In [9]:
print ("Hello World!")

Hello World!

In [20]:
import pandas
from pandas import DataFrame
import matplotlib.pyplot as plt

In [11]:
data = pandas.read_csv('cost_revenue.csv')

In [12]:
data

      production_budget_usd  worldwide_gross_usd
0                   1000000                   26
1                     10000                  401
2                    400000                  423
3                    750000                  450
4                     10000                  527
5                   1800000                  673
6                   1000000                  703
7                   6600000                  828
8                   1000000                  884
9                      7000                  900
10                  2000000                  926
11                  1000000                 1036
12                   700000                 1160
13                   200000                 1217
14                  9000000                 1242
15                    12000                 1336
16                     5000                 1338
17                   100000                 1358
18                  1400000                 1632
19                   300000                 1711
20                   500000                 1778
21                   500000                 1822
22                    10000                 1987
23                  1500000                 2105
24                  5000000                 2199
25                  9000000                 2243
26                  2000000                 2436
27                   175000                 2602
28                  1100000                 2636
29                  6500000                 3149
...                     ...                  ...
5004              185000000           1002572859
5005              250000000           1017003568
5006              150000000           1019922983
5007              200000000           1022617376
5008              200000000           1025491110
5009              115000000           1027044677
5010               63000000           1038812584
5011              250000000           1045663875
5012              200000000           1050988488
5013              225000000           1066215812
5014              200000000           1069818229
5015              275000000           1084439099
5016              210000000           1104039076
5017              200000000           1110526981
5018              195000000           1123790543
5019               94000000           1141403341
5020              250000000           1151684349
5021               74000000           1167245366
5022              200000000           1215392272
5023              250000000           1237444462
5024              160000000           1260122363
5025              150000000           1274234980
5026              125000000           1341511219
5027              250000000           1404705868
5028              190000000           1516748684
5029              225000000           1519479547
5030              215000000           1671640593
5031              306000000           2058662225
5032              200000000           2207615668
5033              425000000           2783918982

[5034 rows x 2 columns]

In [13]:
data.describe()

       production_budget_usd  worldwide_gross_usd
count           5.034000e+03         5.034000e+03
mean            3.290784e+07         9.515685e+07
std             4.112589e+07         1.726012e+08
min             1.100000e+03         2.600000e+01
25%             6.000000e+06         7.000000e+06
50%             1.900000e+07         3.296202e+07
75%             4.200000e+07         1.034471e+08
max             4.250000e+08         2.783919e+09

In [14]:
X = DataFrame(data, columns=['production_budget_usd']) 
y = DataFrame(data, columns=['worldwide_gross_usd'])

In [15]:
print (X)

      production_budget_usd
0                   1000000
1                     10000
2                    400000
3                    750000
4                     10000
5                   1800000
6                   1000000
7                   6600000
8                   1000000
9                      7000
10                  2000000
11                  1000000
12                   700000
13                   200000
14                  9000000
15                    12000
16                     5000
17                   100000
18                  1400000
19                   300000
20                   500000
21                   500000
22                    10000
23                  1500000
24                  5000000
25                  9000000
26                  2000000
27                   175000
28                  1100000
29                  6500000
...                     ...
5004              185000000
5005              250000000
5006              150000000
5007              200000000
5008              200000000
5009              115000000
5010               63000000
5011              250000000
5012              200000000
5013              225000000
5014              200000000
5015              275000000
5016              210000000
5017              200000000
5018              195000000
5019               94000000
5020              250000000
5021               74000000
5022              200000000
5023              250000000
5024              160000000
5025              150000000
5026              125000000
5027              250000000
5028              190000000
5029              225000000
5030              215000000
5031              306000000
5032              200000000
5033              425000000

[5034 rows x 1 columns]

In [16]:
matplotlib.pyplot.scatter(X, y)
matplotlib.pyplot.show()

NameError: name 'matplotlib' is not defined

In [ ]:
plt.scatter(X,y)

In [21]:
plt.figure(figsize=(10, 6))
plt.scatter(X, y)
plt.title('Film Cost vs Global Revenue')
plt.ylim(0, 3000000000)
plt.show()

In [22]:
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [23]:
type(data)

pandas.core.frame.DataFrame

In [24]:
print data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [25]:
data['Nama_Orang_yang_tes']= 'Aldo'
data['Max_scores'] = 100

In [26]:
print data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Nama_Orang_yang_tes  \
0                      5     1.17                78.93                Aldo
1                     15     2.97                58.20                Aldo
2                     30     3.26                67.47                Aldo
3                     60     4.69                37.47                Aldo
4                    120     5.83                45.65                Aldo
5                    240     6.00                32.92                Aldo
6                    480     6.41                29.97                Aldo

   Max_scores
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [27]:
from statistics import mean

ImportError: No module named statistics

In [40]:
mean('Avg_Math_Score')

NameError: name 'mean' is not defined

In [ ]:
columnList=[2,2]

In [ ]:
print columnList

In [ ]:
columnList =[0]

In [ ]:
print columnList

In [ ]:
new_data = data[['LSD_ppm','Avg_Math_Test_Score']]

In [ ]:
print new_data

In [33]:
def times(x, y):
    #result = x*y
    return x*y

In [34]:
times(3, 14)

42

In [35]:
test = times(3.45, 79.82)
print test

275.379

In [36]:
times('YES ',8)

'YES YES YES YES YES YES YES YES '

In [37]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [38]:
import life as hitchhikerguide

In [39]:
hitchhikerguide.quote_marvin()

Your chance of survival is zero to none

In [41]:
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Nama_Orang_yang_tes,Max_scores
0,5,1.17,78.93,Aldo,100
1,15,2.97,58.20,Aldo,100
2,30,3.26,67.47,Aldo,100
3,60,4.69,37.47,Aldo,100
4,120,5.83,45.65,Aldo,100
5,240,6.00,32.92,Aldo,100
6,480,6.41,29.97,Aldo,100

In [68]:
time = data[['Time_Delay_in_Minutes']]

In [46]:
print time

0      5
1     15
2     30
3     60
4    120
5    240
6    480
Name: Time_Delay_in_Minutes, dtype: int64

In [64]:
LSD = data[['LSD_ppm']]
score = data[['Avg_Math_Test_Score']]

In [65]:
plt.title('Tissue Concentration of LSD Overtime')
plt.xlabel('Time in minutes')
plt.ylabel('Average Test Score')
plt.text(x=0, y=0.5, s='Wagner et al. (1968)',fontsize = 9)
plt.plot(time, LSD, color='g', linewidth=4)
plt.show()

In [66]:
from sklearn.linear_model import LinearRegression

In [70]:
regr = LinearRegression()
type(LSD)

pandas.core.frame.DataFrame

In [73]:
regr.fit(LSD, score)
regr.coef_

array([[-9.00946642]])

In [74]:
regr.coef_[0][0]

-9.0094664152967816

In [75]:
regr.fit(LSD, score)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [81]:
print 'THETA1 :' , regr.coef_[0][0]
print 'Intercept at:',regr.intercept_[0]
print 'R-Square:', regr.score(LSD, score)

 THETA1 : -9.0094664153
Intercept at: 89.123873768
R-Square: 0.877834970778

In [79]:
print 'Intercept at:',regr.intercept_[0]

Intercept at: 89.123873768

In [86]:
plt.title('Arithmetic vs LSD-25')
plt.xlabel('Time LSD ppm')
plt.ylabel('Performance score')
plt.ylim(25, 85)
plt.xlim(1, 6.5)
plt.style.use('fivethirtyeight')
plt.text(x=0, y=0.5, s='Wagner et al. (1968)',fontsize = 9)
plt.scatter(LSD,score)
plt.show()